{% extends 'loginsignup/navbar.html' %} {% load static %} {% load loginsignup_extras %} {% block css %}
<link rel="stylesheet" href={% static 'loginsignup/css/friend_list.css'%} </head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %} {% block main %}
<h1 class="main-heading">Discover Friends</h1>
<div class="search">
    <input id="input" type="text" placeholder="Friends's username">
</div>
<div class="temp">
    {% block content %} {% endblock %}
</div>
{% endblock %} {% block scriptag %}
<script>
    const handleLinkProfile = (username) => {
        window.location.href = `http://${window.location.host}/post/friend/${username}/`;
    }
    $(document).ready(function() {
        const user_input = $("#input")
        const container = $('.temp')
        const endpoint = '/ajax/discover/filter/'
        const delay_by_in_ms = 100
        let scheduled_function = false

        let ajax_call = function(endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    container.fadeTo('fast', 0).promise().then(() => {
                        container.html(response)
                        container.fadeTo('fast', 1)
                    })
                })
        }

        user_input.on('input', function() {

            const request_parameters = {
                search: $(this).val() // value of user_input: the HTML element with ID user-input
            }

            // if scheduled_function is NOT false, cancel the execution of the function
            if (scheduled_function) {
                clearTimeout(scheduled_function)
            }

            // setTimeout returns the ID of the function to be executed
            scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })
    }) 
</script>
{% block addscript %}
{% endblock %}
{% endblock %}