{% load static %}
<html>
    <title>
        Quiver
    </title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static 'loginsignup/css/reset_password.css' %}>
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet">
    </head>
      <body>
        <header>
            <div class="navbar">
                <nav>
                    <ul>
                    
                        <li><a href="#termsandcondition">Terms and Conditions</a></li>
                        <li><a href="#contact us">Contact Us</a></li>
                        <li><a href={% url 'loginsignup:login' %}>Log In</a></li>
                        <li><a href={% url 'loginsignup:signup' %}>Sign Up</a></li>
                        <div class="newfont">
                                <li class="navQuiver" >QUIVER</li>
                                </div>
                      </ul>
                </nav>
                
            </div>
        </header>
<div class="signin">
    <img src='{% static 'loginsignup/Quiver.jpg'%}'  height="100" width="200">
      <br>
      <h2 class="title_content2">Re(Connect+Unite+Discover)</h2>
      <h2 class="active"> Reset Your Password </h2>
      <br>          
      {% if error%}
        <h5 class="errorfield">{{error}}</h5>
      {% endif%}
      {% if securityKey and not PasswordKey %}
        <h5 class="errorfield info">A 6 digit code has been sent to your mail-id</h5>
      {% endif %}
     <form method="POST">
        {% csrf_token %}
        <div class="entries"></div>
        {% if PasswordKey %}
          <input type="password"  class="input" name="password" minlength=8 placeholder="Password" required>
          <input type="password"  class="input" name="confirm" minlength=8 placeholder="Confirm Password" required>
        {% else %}
          {% if securityKey %}
            <input type="number" min=100000 max=999999 class="input" name="securityCode" placeholder="6 digit security key" required>
          {% else %}
            <input type="text"  class="input" name="username" placeholder="Username" required>
          {% endif %}
        {% endif %}
        <input type="hidden" name="validate" value={{securityKey}}>
        <input type="hidden" name="passkey" value={{PasswordKey}}>
        <input type="hidden" name="user" value={{user}} readonly>
        {% if PasswordKey %}
          <input type="submit" class="signinbutton" value="Update">
        {% else %}
          <input type="submit" class="signinbutton" value="Verify">
        {% endif %}
      </form>
      <br>
      <hr>
      <br>
      
      <h4> Don't have an account? We can fix that! </h4>
      <a class="create" href={% url 'loginsignup:signup' %}>Create an Account</a>
  
    </div>
  </div>
  </body>
  </html>