{% extends 'loginsignup/navbar.html' %} 
{% load static %} 
{% load loginsignup_extras %} 
{% block css %}
    <link rel="stylesheet" href={% static 'loginsignup/css/update_password.css' %}>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script&display=swap" rel="stylesheet">{% endblock %} 
{% block main %}    
<div class="signin">
        <img src='{% static 'loginsignup/Quiver.jpg'%}' height="100" width="200">
        <br>

        <!--<h2 class="Quiver">Quiver</h2><br> -->
        <h2 class="title_content2">Re(Connect+Unite+Discover)</h2>
        <h2 class="active"> Update Password </h2>
        <br>
        {% if messages %}
        {% for message in messages %}
         {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h5 class="errorfield success">{{message}}</h5>
        {% else %}
            <h5 class="errorfield">{{message}}</h5>
        {% endif %}
        {% endfor %}
        {% endif %}
        <form method="POST" onsubmit="return checkPassword()" name="resetForm">
            {% csrf_token %}
            <div class="entries"></div>
            {% if form.errors %}
                <h5 class="errorfield">{{form.errors}}</h5>
            {% endif%}
            <p class="errorfield matcherr"></p>
            <input type="password" autocomplete="new-password" class="input" name="password" placeholder="New Password" minlength=8 required value={{form.cleaned_data.password}}>
            <br><br>
            <input type="password" autocomplete="new-password" class="input" name="confirm" placeholder="Confirm Password" minlength=8 required value={{form.cleaned_data.password}}>
            <br><br><br>
            <input type="submit" class="signinbutton" value="Update Password">
            <br><br>
        </form>
        <hr>
        <br>

    </div>
    </div>
{% endblock %}
{% block scriptag %}
    <script>
        const checkPassword = () => {
            const password = document.forms["resetForm"]["password"].value;
            const confirmPassword = document.forms["resetForm"]["confirm"].value;
            if (password !== confirmPassword) {
                document.getElementsByClassName("matcherr")[0].innerHTML = "Passwords do not match";
                return false;
            }
        }
    </script>
{% endblock %}
</body>

</html>