{% extends 'loginsignup/navbar.html' %} {% load static %} {% load loginsignup_extras %} {% block css %}
<link rel="stylesheet" href={% static 'posts/css/me.css'%}>
<style>
.creator:hover {
    cursor: pointer;
}
.ptr:hover {
    cursor: pointer;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %} {% block main %}
<div class="container">
    <div class="left">
        <img src={{profile.profile_photo.url}} alt={{profile.user.username}} class="profile">
        <div class="details">
            <p class="username">@{{profile.user.username}}</p>
            <p class="name">{{profile.user.first_name}} {{profile.user.last_name}}</p>
            <a class="except" href="/friends/">
                <p class="friends"><span class="info">Friends</span> : {{profile.friends.all.count}}</p>
            </a>
            <p class="posts"><span class="info">Posts</span> : {{posts.all.count}}</p>
            {% if status == 1 %}
                <button type="button" class="update send_req">Send Request</button>
            {% elif status == 2 %}
                <button type="button" class="update sent">Request Sent</button>
            {% elif status == 3 %}
                <button type="button" class="update accept">Accept</button>
                <button type="button" class="update reject">Reject</button>
            {% elif status == 4 %}
                <button type="button" class="update unfriend">Unfriend</button>
            {% endif %}
        </div>
    </div>
    <div class="middle">
        <div class="mid-content">
            {% if messages %} {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h5 class="success">{{message}}</h5>
            {% else %}
            <h5 class="errorfield">{{message}}</h5>
            {% endif %} {% endfor %} {% endif %}
            {% if not friend %}
                <h2 style="color: white; margin: 2rem;">You can view <span style="color: green;">{{profile.user.username}}</span>'s profile once both of you are friends.</h2>
                <h2 style="color: white; margin: 1rem; text-decoration: underline;">Profile Bio</h2>
                {% if profile.bio %}
                    <h5 class="success" style="text-algin: center;">{{profile.bio}}</h5>
                {% else %}
                    <h5 class="success" style="text-algin: center;">Not available</h5>
                {% endif %}
            {% else %}
            {% if not posts %}
                <h2 style="color: white; margin: 2rem;"><span style="color: green;">{{profile.user.username}}</span> hasn't posted anything.</h2>
            {% endif %}
            {% for post in posts %}
                <div class="post">
                    <div class="creator">
                        <img src={{post.post_creator.profile_photo.url}} alt={{post.post_creator.user.username}} class="poster_photo">
                        <p>{{post.post_creator.user.username}}</p>
                        <p class="datepost">{{post.posted_on|date:"SHORT_DATE_FORMAT"}}</p>
                    </div>
                    {% if post.picture %}
                        <img src={{post.picture.url}} alt="Post Picture" class="post_photo">
                    {% endif %}
                    {% if post.picture %}
                        {% autoescape on %}
                            <p class="caption">{{post.caption|linebreaksbr}}</p>
                        {% endautoescape %}
                    {% else %}
                        {% autoescape on %}
                            <p class="caption nophoto">{{post.caption|linebreaksbr}}</p>
                        {% endautoescape %}
                    {% endif %}
                    <div class="btns">
                        {% if post in post_liked %}
                            <button type="button" class="likes btn liked" id={{"L"}}{{post.id}}>{{post.post_likes.all.count}} Likes</button>
                        {% else %}
                            <button type="button" class="likes btn" id={{"L"}}{{post.id}}>{{post.post_likes.all.count}} Likes</button>
                        {% endif %}
                        <button type="button" class="comments btn" id={{post.id}} onclick="handleComment(event)">{{post.comments.all.count}} comments</button>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="right">
            <div class="requests">
                <h1 class="sub-heading">Pending Requests</h1>
                {% if not pending %}
                    <h4 style="color:wheat; margin-top:1rem; text-align:center">Looks like you do not any pending requests</h4>
                {% endif %}
                {% for request_info in pending %}
                    <div class="prof">
                        <img onclick="handleLinkProfile('{{request_info.sender.user.username}}')" src={{request_info.sender.profile_photo.url}} alt={{request_info.sender.user.username}} class="request_photo">
                        <p onclick="handleLinkProfile('{{request_info.sender.user.username}}')" class="requester">@{{request_info.sender.user.username}}</p>
                        <button type="button" class="accept" id={{request_info.sender.user.username}}>Accept Request</button>
                    </div>
                {% endfor %}
                <button type="button" class="more">View More</button>
            </div>
            <div class="friends">
                <h1 class="sub-heading">Send Requests</h1>
                {% for beaver in random %}
                    <div class="prof">
                        <img onclick="handleLinkProfile('{{beaver.user.username}}')" src={{beaver.profile_photo.url}} alt={{beaver.user.username}} class="request_photo ptr">
                        <p onclick="handleLinkProfile('{{beaver.user.username}}')" class="requester ptr">@{{beaver.user.username}}</p>
                        <button type="button" class="send" id={{beaver.user.username}}>Send Request</button>
                    </div>
                {% endfor %}
                <button type="button" class="more sendreq">View More</button>
            </div>
        </div>
    </div>
    {% endblock %} {% block scriptag %}
    <script>

        const handleLinkProfile = (username) => {
            window.location.href = `http://${window.location.host}/post/friend/${username}/`;
        }

        const refreshPage = () => {
            window.location.reload();
        }

        const handleComment = (event) => {
            window.location.href = `http://${window.location.host}/post/comment/${event.target.id}/`;
        }

        const delay_by_in_ms = 100
        let scheduled_function = false

        const username = "{{profile.user.username}}";

        $(document).ready(function() {
            $(".likes").on('click', function() {
                const id = this.id.slice(1,)
                $.ajax({
                    url: '/post/ajax/like/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        $(`#L${data.id}`).html(`${data.count} Likes`)
                        if(data.status) {
                            $(`#L${data.id}`).addClass("liked")
                        } else {
                            $(`#L${data.id}`).removeClass("liked")
                        }
                    }
                });
            });
            $(".more").on('click', refreshPage)
            $(".accept").on("click", function() {
                const btn = $(this);
                $.ajax({
                    url : '/post/ajax/accept/request/',
                    data: {
                        'username_friend': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        refreshPage();
                    }
                })
            })
            $(".unfriend").on("click", function() {
                $.ajax({
                    url : '/ajax/unfriend/',
                    data: {
                        'username': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        refreshPage();
                    }
                })
            })
            $(".send_req").on("click", function() {
                const btn = $(this);
                $.ajax({
                    url : '/post/ajax/send/request/',
                    data: {
                        'username_friend': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        refreshPage();
                    }
                })
            })
            $(".send").on("click", function() {
                const btn = $(this);
                $.ajax({
                    url : '/post/ajax/send/request/',
                    data: {
                        'username_friend': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        refreshPage();
                    }
                })
            })
            $(".sent").on("click", function() {
                $.ajax({
                    url : '/post/ajax/delete/request/',
                    data: {
                        'username_friend': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        refreshPage();
                    }
                })
            });
            $(".accept").on("click", function() {
                $.ajax({
                    url : '/post/ajax/accept/request/',
                    data: {
                        'username_friend': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        refreshPage();
                    }
                })
            });
            $(".reject").on("click", function() {
                $.ajax({
                    url : '/post/ajax/reject/request/',
                    data: {
                        'username_friend': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        refreshPage();
                    }
                })
            });
            let ajax_call = function(endpoint, request_parameters) {
            $.getJSON(endpoint, request_parameters)
                .done(() => {
                    window.location.reload();
                })
            }

            $(".send_req").on('click', function() {

                const unfriend_endpoint = "/post/ajax/send/request/"

                const request_parameters = {
                    username_friend: "{{profile.user.username}}" // value of user_input: the HTML element with ID user-input
                }

                // if scheduled_function is NOT false, cancel the execution of the function
                if (scheduled_function) {
                    clearTimeout(scheduled_function)
                }

                // setTimeout returns the ID of the function to be executed
                scheduled_function = setTimeout(ajax_call, delay_by_in_ms, unfriend_endpoint, request_parameters)
            })
        })
    </script>
    {% endblock %}