{% extends 'loginsignup/navbar.html' %} {% load static %} {% load loginsignup_extras %} {% block css %}
<link rel="stylesheet" href={% static 'posts/css/me.css'%}> {% endblock %} {% block main %}
<div class="container">
    <div class="left">
        <img src={{profile.profile_photo.url}} alt={{profile.user.username}} class="profile">
        <div class="details">
            <p class="username">@{{profile.user.username}}</p>
            <p class="name">{{profile.user.first_name}} {{profile.user.last_name}}</p>
            <a class="except" href="/friends/">
                <p class="friends"><span class="info">Friends</span> : {{profile.friends.all.count}}<button type="button" class="viewall">View All</button></p>
            </a>
            <p class="posts"><span class="info">Posts</span> : {{posts.all.count}}</p>
            <button type="button" class="update" onclick="handleClick()">Update Details</button>
        </div>
    </div>
    <div class="middle">
        <div class="mid-content">
            {% if messages %} {% for message in messages %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h5 class="success">{{message}}</h5>
            {% else %}
            <h5 class="errorfield">{{message}}</h5>
            {% endif %} {% endfor %} {% endif %}
            {% for post in posts %}
                <div class="post">
                    <div class="creator">
                        <img src={{post.post_creator.profile_photo.url}} alt={{post.post_creator.user.username}} class="poster_photo">
                        <p>{{post.post_creator.user.username}}</p>
                        <p class="datepost">{{post.posted_on|date:"SHORT_DATE_FORMAT"}}</p>
                    </div>
                    <p class="option" id={{post.id}} onclick="handlePost(event)">&hellip;</p>
                    {% if post.picture %}
                        <img src={{post.picture.url}} alt="Post Picture" class="post_photo">
                    {% endif %}
                    {% if post.picture %}
                        {% autoescape on %}
                            <p class="caption">{{post.caption|linebreaksbr}}</p>
                        {% endautoescape %}
                    {% else %}
                        {% autoescape on %}
                            <p class="caption nophoto">{{post.caption|linebreaksbr}}</p>
                        {% endautoescape %}
                    {% endif %}
                    <div class="btns">
                        {% if post in post_liked %}
                            <button type="button" class="likes btn liked" id={{"L"}}{{post.id}}>{{post.post_likes.all.count}} Likes</button>
                        {% else %}
                            <button type="button" class="likes btn" id={{"L"}}{{post.id}}>{{post.post_likes.all.count}} Likes</button>
                        {% endif %}
                        <button type="button" class="comments btn" id={{post.id}} onclick="handleComment(event)">{{post.comments.all.count}} comments</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="right">
            <div class="requests">
                <h1 class="sub-heading">Pending Requests</h1>
                <div class="prof">
                    <img src="https://i.picsum.photos/id/922/400/600.jpg" alt="Post photo" class="request_photo">
                    <p class="requester">@Username</p>
                    <button type="button" class="accept">Accept Request</button>
                </div>
                <div class="prof">
                    <img src="https://i.picsum.photos/id/922/400/600.jpg" alt="Post photo" class="request_photo">
                    <p class="requester">@Username</p>
                    <button type="button" class="accept">Accept Request</button>
                </div>
                <div class="prof">
                    <img src="https://i.picsum.photos/id/922/400/600.jpg" alt="Post photo" class="request_photo">
                    <p class="requester">@Username</p>
                    <button type="button" class="accept">Accept Request</button>
                </div>
                <button type="button" class="more">View More</button>
            </div>
            <div class="friends">
                <h1 class="sub-heading">Send Requests</h1>
                <div class="prof">
                    <img src="https://i.picsum.photos/id/922/400/600.jpg" alt="Post photo" class="request_photo">
                    <p class="requester">@Username</p>
                    <button type="button" class="accept send">Send Request</button>
                </div>
                <div class="prof">
                    <img src="https://i.picsum.photos/id/922/400/600.jpg" alt="Post photo" class="request_photo">
                    <p class="requester">@Username</p>
                    <button type="button" class="accept send">Send Request</button>
                </div>
                <div class="prof">
                    <img src="https://i.picsum.photos/id/922/400/600.jpg" alt="Post photo" class="request_photo">
                    <p class="requester">@Username</p>
                    <button type="button" class="accept send">Send Request</button>
                </div>
                <button type="button" class="more sendreq">View More</button>
            </div>
        </div>
    </div>
    {% endblock %} {% block scriptag %}
    <script>
        const handleClick = () => {
            window.location.href = `http://${window.location.host}/update/`;
        }

        const handlePost = (event) => {
            window.location.href = `http://${window.location.host}/post/modify/${event.target.id}/`;
        }

        const handleComment = (event) => {
            window.location.href = `http://${window.location.host}/post/comment/${event.target.id}/`;
        }

        $(document).ready(function() {
            $(".likes").on('click', function() {
                const id = this.id.slice(1,)
                $.ajax({
                    url: '/post/ajax/like/',
                    data: {
                    'id': id
                    },
                    dataType: 'json',
                    success: function (data) {
                        $(`#L${data.id}`).html(`${data.count} Likes`)
                        if(data.status) {
                            $(`#L${data.id}`).addClass("liked")
                        } else {
                            $(`#L${data.id}`).removeClass("liked")
                        }
                    }
                });
            });
        })
    </script>
    {% endblock %}